/* Ensure the formContainer is a flex container */
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #333; /* Example: light grey background */
}
.formContainer {
  display: flex;
  flex-direction: row; /* Align image and form horizontally */
  align-items: center; /* Vertically center the items */
  justify-content: flex-start; /* Align items to the left */
  width: 100%;
  max-width: 800px; /* Optional: limit the max width of the form */
  margin: 0 auto; /* Center the form */
  background-color: #fff; /* Example: light grey background */
  padding: 20px; /* Optional: add padding around the form */
  border-radius: 1px; /* Optional: rounded corners */
 
}

/* Image container styling */
.imageContainer {
  flex: 1; /* Take up remaining space */
  margin-right: 20px; /* Space between the image and form */
  border-radius: 35px;
}

/* Image styling */
.signupImage {
  max-width: 100%; /* Ensure image scales responsively */
  height: auto;
  border-radius: 100px;
}

/* Form fields container */
.formFields {
  flex: 2; /* Ensure form fields take up more space */
  width: 100%;
}

/* Ensure the form layout still looks good on smaller screens */
@media (max-width: 768px) {
  .formContainer {
    flex-direction: column; /* Stack image and form on top of each other */
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 20px; /* Add space between the image and the form */
  }
}
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
